/build/**
/dist/**
/coverage/**
/docs/**
/jsdoc/**
/templates/**
/tests/bench/**
/tests/fixtures/**
/tests/performance/**
/tmp/**
/utils/**
/src/assets/**
/src/docs/**
/src/styles/**
!.eslintrc.js
*.css
*.html
/node_modules/**