<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>XT Tech Radar Loading...</title>
    <link rel='shortcut icon' href='/favicon.ico' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        html,body{
            background-color: #f5f5f5;
        }
        .xtr-pre-loading{
            position: absolute;
            top:0;
            right: 0;
            left:0;
            bottom: 0;
            height: 50px;
            margin: auto;
            line-height: 50px;
            text-align: center;
            font-family:'Courier New', Courier, monospace;
            font-size: 14px;
            font-weight: 400;
        }
        .xtr-hidden{
            display: none !important;
        }
    </style>
</head>
<body class="mdl-color--grey-100">
    <div class="xtr-pre-loading">XT Tech Radar Loading...</div>
    <div class="xtr-hidden mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
        <header class="xtr-header mdl-layout__header mdl-layout--small-screen-only">
            <div class="mdl-layout-icon"></div>
            <div class="mdl-layout__header-row">
                <span class="mdl-layout__title">XT Tech Radar</span>
                <div class="mdl-layout-spacer"></div>
            </div>
        </header>
        <aside class="mdl-layout__drawer mdl-color--white">
            <!-- Drawer data -->
            <div class="xtr-sidebar">
                <div class="xtr-sidebar__title mdl-card__title mdl-card--expand">
                    <div class="xtr-logo"></div>
                    <button id="xtr-info-button" class="xtr-info-button mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp hidden">
                        <i class="material-icons">info_outline</i>
                    </button>
                    <div class="mdl-tooltip" for="xtr-info-button">
                        About
                    </div>
                    <h2 class="mdl-card__title-text mdl-color-text--white">Build:
                        <%= htmlWebpackPlugin.options.buildTime %>
                    </h2>
                </div>
                <div id="xtr-sidebar-loader" style="width:100%" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
                <form action="">
                    <ul id="quadrants-list" class="mdl-list">
                    </ul>
                </form>
            </div>
        </aside>
        <div class="mdl-layout__content">
            <div class="mdl-layout__container">
                <div class="mdl-layout">
                    <div class="xtr-main-loader-wrapper">
                        <div id="xtr-main-loader" style="width:100%" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
                    </div>
                    <main class="xtr-main">
                        <div class="xtr-main-radar"></div>
                        <div class="xtr-main-quadrant-data">
                            <div class="mdl-layout__container">
                                <div class="mdl-layout">
                                    <div class="mdl-layout__content">
                                        <div id="xtr-main-quadrant-lists" class="mdl-grid mdl-grid--no-spacing">
                                            <div class="mdl-card mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </main>
                </div>
            </div>
        </div>
    </div>
    <dialog class="xtr-hidden mdl-dialog">
        <div class="mdl-dialog-inner">
            <div class="mdl-dialog__content markdown-body"></div>
            <div class="mdl-dialog__actions">
                <button type="button" class="mdl-button close">Close</button>
            </div>
        </div>
    </dialog>
    <div id="xtr-error-toast" class="xtr-hidden mdl-js-snackbar mdl-snackbar">
        <div class="mdl-snackbar__text"></div>
        <button class="mdl-snackbar__action" type="button"></button>
    </div>
    <div class="xtr-hidden xtr-full-page-loader">
        <div class="xtr-full-page-loader__logo"></div>
        <div class="mdl-spinner mdl-js-spinner is-active"></div>
    </div>

    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
        <script async src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
    <% } %>

    <% for (var css in htmlWebpackPlugin.files.css) { %>
        <link rel="stylesheet" property="stylesheet" href="<%= htmlWebpackPlugin.files.css[css] %>">
    <% } %>
</body>

</html>